{% extends "base.html" %}


{% block content %}
<main>
    <h1>Account</h1>
    <table>
        <thead>
             <tr>
                <th>Name</th>
                
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category__.__|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
