{% extends "base.html" %}


{% block content %}
<main>
    <h1>Account</h1>
    <table>
        <thead>
             <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for thing in account %}
            <tr>
                <td>{{ thing.name }}</td>
                <td>{{ thing.number }}</td>
                <td>{{ thing.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
