{% extends "base.html" %}
{% block title %}
        Login
{% endblock %}


{% block content %}
<header>
    <nav>
        <a href="{% url "home" %}">Main Page</a>
    </nav>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
    {% endblock%}
</body>
</html>
