{% extends "base.html" %}

    {% block content %}

<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
             <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.}}</td>
                <td>{{category.tax}}</td>
                <td>{{receipt.date|date:"m/d/y"}}</td>
                <td>{{receipt.category.name}}</td>
                <td>{{receipt.account.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
